<div class="container col-6 text-center" [@animate]="currentState">
  <div class="list-group">
    <a class="list-group-item list-group-item-light font-weight-bolder"
      >To get started click on the "Play" button.</a
    >
    <a class="list-group-item list-group-item-dark font-weight-bold"
      >21 cards will be shown on the screen, pick one (don't tell me which one)
      and click on "Proceed" button.</a
    >
    <a
      class="list-group-item list-group-item-dark font-weight-bold font-weight-bold"
      >In the next step you should tell me which row your card is.</a
    >
    <a class="list-group-item list-group-item-dark font-weight-bold"
      >Repeat the above step 2 more times.</a
    >
    <a class="list-group-item list-group-item-dark font-weight-bold"
      >If you didn't lie to me, I must show you the card you choose ate the
      end.</a
    >
  </div>
  <div class="d-flex justify-content-center align-items-center p-2 mt-3">
    <button
      class="btn btn-dark btn-round text-uppercase col-lg-2 col-md-4 col-sm-6"
      routerLink="/play"
    >
      Play
    </button>
  </div>
</div>
