<div class="container" [@animate]="currentState" *ngIf="this.pileService.pileId != ''">
  <div class="d-flex justify-content-center align-items-center">
    <h2>Ok, here's your card:</h2>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <img [src]="this.pileService.pickedCard.image" class="card m-2" />
  </div>

  <div class="d-flex justify-content-center align-items-center p-2">
    <button
      routerLink="/home"
      class="btn btn-success btn-round text-uppercase col-md-4 col-sm-12"
    >
      You're right! Let me play again
    </button>
  </div>
  <div class="d-flex justify-content-center align-items-center p-2">
    <button class="btn btn-danger btn-round text-uppercase col-md-4 col-sm-12">
      That's not my card!
    </button>
  </div>
</div>
